In [61]:
import pandas as pd
import pycountry
import plotly.express as px

ModuleNotFoundError: No module named 'plotly'

In [56]:
df_confirm = pd.read_csv('C:/Users/andre/Documents/Analysis_Projects/FinalProject/time_series_covid19_confirmed_global.csv')
df_confirm.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,1/6/22,1/7/22,1/8/22,1/9/22,1/10/22,1/11/22,1/12/22,1/13/22,1/14/22,1/15/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,158275,158300,158309,158381,158394,158471,158511,158602,158639,158678
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,213257,214905,214905,219694,220487,222664,224569,226598,228777,230940
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,220825,221316,221742,222157,222639,223196,223806,224383,224979,225484
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,25289,26408,26408,26408,27983,28542,28899,28899,29888,29888
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,87625,88775,89251,89718,90316,91148,91907,92581,93302,93524

In [59]:
# Aggregate the dataset
df_confirm = df_confirm.drop(columns=['Province/State','Lat', 'Long'])
df_confirm = df_confirm.groupby('Country/Region').agg('sum')
date_list = list(df_confirm.columns)

# Get the three-letter country codes for each country
def get_country_code(name):
    try:
        return pycountry.countries.lookup(name).alpha_3
    except:
        return None
df_confirm['country'] = df_confirm.index
df_confirm['iso_alpha_3'] = df_confirm['country'].apply(get_country_code)

# Transform the dataset in a long format
df_long = pd.melt(df_confirm, id_vars=['country','iso_alpha_3'], value_vars=date_list)

In [60]:
df_long.head()

       country iso_alpha_3 variable  value
0  Afghanistan         AFG  1/22/20      0
1      Albania         ALB  1/22/20      0
2      Algeria         DZA  1/22/20      0
3      Andorra         AND  1/22/20      0
4       Angola         AGO  1/22/20      0